appGestionEmail/src/wsdl/localhost_50413/wsGestionEmail/srvEmpresa.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3.payara-p6 (FISH-5811-df8dba8; 2021-12-02T15:42:59+0000) JAXWS-RI/2.3.2.payara-p4 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3.payara-p6 (FISH-5811-df8dba8; 2021-12-02T15:42:59+0000) JAXWS-RI/2.3.2.payara-p4 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://wsServicios/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://wsServicios/" name="srvEmpresa">
<types>
<xsd:schema>
<xsd:import namespace="http://wsServicios/" schemaLocation="http://localhost:50413/wsGestionEmail/srvEmpresa?xsd=1"/>
</xsd:schema>
</types>
<message name="insertar">
<part name="parameters" element="tns:insertar"/>
</message>
<message name="insertarResponse">
<part name="parameters" element="tns:insertarResponse"/>
</message>
<message name="actualizacion">
<part name="parameters" element="tns:actualizacion"/>
</message>
<message name="actualizacionResponse">
<part name="parameters" element="tns:actualizacionResponse"/>
</message>
<message name="eliminar">
<part name="parameters" element="tns:eliminar"/>
</message>
<message name="eliminarResponse">
<part name="parameters" element="tns:eliminarResponse"/>
</message>
<message name="listar">
<part name="parameters" element="tns:listar"/>
</message>
<message name="listarResponse">
<part name="parameters" element="tns:listarResponse"/>
</message>
<message name="listarPorID">
<part name="parameters" element="tns:listarPorID"/>
</message>
<message name="listarPorIDResponse">
<part name="parameters" element="tns:listarPorIDResponse"/>
</message>
<portType name="srvEmpresa">
<operation name="insertar">
<input wsam:Action="http://wsServicios/srvEmpresa/insertarRequest" message="tns:insertar"/>
<output wsam:Action="http://wsServicios/srvEmpresa/insertarResponse" message="tns:insertarResponse"/>
</operation>
<operation name="actualizacion">
<input wsam:Action="http://wsServicios/srvEmpresa/actualizacionRequest" message="tns:actualizacion"/>
<output wsam:Action="http://wsServicios/srvEmpresa/actualizacionResponse" message="tns:actualizacionResponse"/>
</operation>
<operation name="eliminar">
<input wsam:Action="http://wsServicios/srvEmpresa/eliminarRequest" message="tns:eliminar"/>
<output wsam:Action="http://wsServicios/srvEmpresa/eliminarResponse" message="tns:eliminarResponse"/>
</operation>
<operation name="listar">
<input wsam:Action="http://wsServicios/srvEmpresa/listarRequest" message="tns:listar"/>
<output wsam:Action="http://wsServicios/srvEmpresa/listarResponse" message="tns:listarResponse"/>
</operation>
<operation name="listarPorID">
<input wsam:Action="http://wsServicios/srvEmpresa/listarPorIDRequest" message="tns:listarPorID"/>
<output wsam:Action="http://wsServicios/srvEmpresa/listarPorIDResponse" message="tns:listarPorIDResponse"/>
</operation>
</portType>
<binding name="srvEmpresaPortBinding" type="tns:srvEmpresa">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="insertar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="actualizacion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eliminar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarPorID">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="srvEmpresa">
<port name="srvEmpresaPort" binding="tns:srvEmpresaPortBinding">
<soap:address location="http://localhost:50413/wsGestionEmail/srvEmpresa"/>
</port>
</service>
</definitions>